---
layout: default
title: Recipes | Mind Body Keto
feature-image_path: /images/temp-three.jpg
banner-heading: Keto Recipes
subtitle: Recipes that will change the way you live.
---
<section>
  <div class="textCenter paddingTop">
    <h1>{{ page.banner-heading }}</h1>
    <h3>{{ page.subtitle }}</h3>
    <h4> {{ page.subtitle2 }}</h4>
  </div>
</section>
<section>
  <div class="grid-middle-center">

   {% for post in site.posts %}
      {% if post.categories contains 'recipes' %}

   <div class="col-4_sm-6_xs-12 textCenter">
     <div class="backgroundBox">
       <img class="shortImage" src="{{ post.feature-image_path }} " alt="">
       <div class="centered">
         <h3 class="textCenter"><a href="{{ post.url }}">{{ post.title }}</a></h3>
         <a href="{{post.url}}" class="pinkA textCenter"> Read More</a>
       </div>
     </div>
   </div>
      {% endif %}
   {% endfor %}

  </div>
</section>
