---
layout: default
feature-image_path: /images/keto-food.jpg
title: Coming Soon | Mind Body Keto
banner-heading: More Greatness Coming Soon!
subtitle: Keep an eye on this page to know when we release new goodies for you
subtitle2: Or - Subscribe to get notified of releases!
---
<section class="background-img" style="background-image:url('{{page.feature-image_path}}');">
  <div class="textCenter backgroundBox">
    <h1>{{ page.banner-heading }}</h1>
    <h3 class="darkText">{{ page.subtitle }}</h3>
    <h4> {{ page.subtitle2 }}</h4>
  </div>
</section>
<section class="grid padding">
  <div class="col-12">
    <div class="ml-form-embed"
  data-account="1217016:r2h2h7v8e2"
  data-form="1032806:x5z4c0">
</div>
  </div>
  <br/>
</section>
<section>
    <h2 class="textCenter">What's New</h2>
    <div class="grid-middle-center">

       {% for post in site.posts limit:3 %}
          {% if post.categories contains 'blog' %}

       <div class="col-3_sm-6_xs-12 textCenter">
         <div class="backgroundBox">
           <a href="{{post.url}}"><img class="shortImage" src="{{ post.feature-image_path }} " alt="{{post.title}}"></a>
           <div class="centered">
             <h3 class="textCenter styledA"><a href="{{ post.url }}">{{ post.title }}</a></h3>
           </div>
         </div>
       </div>

          {% endif %}
       {% endfor %}

     </div>
</section>
