---
layout: default
feature-image_path: /images/keto-food.jpg
title: Home Page | Mind Body Keto
banner-heading: PUT AN END TO YOUR WEIGHT AND HEALTH STRUGGLES DELICIOUSLY.
subtitle: We help determined women achieve the life and body of their dreams with a revolutionary and holistic mindset & food combination.
subtitle2: “Start Your Mind Body Keto Journey Today”
ebooks:
  - name: eBook 1
    feature-image_path: /images/temp-two.jpg
    description: Write something here for each eBook
    link: /shop
  - name: eBook 2
    feature-image_path: /images/keto-food.jpg
    description: Write something here for each eBook
    link: /shop
  - name: eBook 3
    feature-image_path: /images/temp-two.jpg
    description: Write something here for each eBook
    link: /shop
courses:
  - name: Course 1
    feature-image_path: /images/temp-two.jpg
    description: Write something here for each course
    link: /shop
  - name: Course 2
    feature-image_path: /images/temp-two.jpg
    description: Write something here for each course
    link: /shop
---
<section class="parallax1"style="background-image:url('{{page.feature-image_path}}');">
  <div class="textCenter backgroundBox">
    <h1>{{ page.banner-heading }}</h1>
    <h3 class="darkText">{{ page.subtitle }}</h3>
    <h4> {{ page.subtitle2 }}</h4>
    <button class="buttonPadding" type="button" name="button"><a class="buttonPadding"href="https://calendly.com/mindbodyketo/free-consultation">Schedule an Appointment</a></button>
  </div>
</section>
<!--<section class="grid">
  <div class="col-12">
    <h4 class="textCenter">Subscribe for Tips and Freebies!</h4>
    <form class="contact-form" method="POST" action="http://formspree.io/justyngourdin@gmail.com">
  		<input name="name" type="text" class="feedback-input" placeholder="Name" />
    	<input name="email" type="text" class="feedback-input" placeholder="Email" />
    	<input type="submit" value="SUBMIT"/>
  </div>
  <br/>
</section>-->
<section class="padding grid">
  <div class="col-6_xs-12 shortImage paddingTop" style="background-image:url('/images/temp-four.jpg')">

  </div>
  <div class="col-6_xs-12 padding">
    <h3>IT DOESN’T HAVE TO BE HARD</h3>
    <p>So many otherwise successful women battle to lose weight, beat chronic health issues, or detach from the foods and lifetyles that actually hurt their mind and body. Mind Body Keto provides a mindful, low carb method that is enjoyable, easy to follow, and makes triumphing over the mental resistance and physical aspects of changing your diet a breeze.
</p>
  </div>
</section>
<section class="grid">
  <div class="padding">
    <h3 class="textCenter col-12">EVERY WOMAN DESERVES TO WAKE UP COMFORTABLE IN HER SKIN, FEELING HER BEST, AND HAPPY WITH WHO SHE IS INSIDE AND OUT.</h3>
    <p>WE PROVIDE YOU WITH THE TOOLS AND ENCOURAGEMENT TO:</p>
    <br/>
    <div class="col-6 listStyle">
      <ul>
        <li><i class="fas fa-check iconPadding"></i>ATTAIN YOUR HEALTHY WEIGHT</li>
        <li><i class="fas fa-check iconPadding"></i>REDUCE INFLAMMATION</li>
        <li><i class="fas fa-check iconPadding"></i>COMBAT BLOOD SUGAR & INSULIN ISSUES</li>
        <li><i class="fas fa-check iconPadding"></i>DISCERN EMOTIONAL HUNGER FROM PHYSICAL HUNGER</li>
        <li><i class="fas fa-check iconPadding"></i>IMPROVE YOUR RELATIONSHIP WITH FOOD</li>
        <li><i class="fas fa-check iconPadding"></i>MAKE CHOICES AROUND YOUR PERSONAL DIETARY REQUIREMENTS WITH EASE (FOOD ALLERGIES, INTOLERANCES, OR TO ACCOMMODATE MEDICALLY RECOMMENDED EATING PLANS)</li>
        <li><i class="fas fa-check iconPadding"></i>INCREASE YOUR SELF-CONFIDENCE AND SELF-LOVE</li>
        <li><i class="fas fa-check iconPadding"></i>FACE SOCIAL SITUATIONS WITHOUT FEAR</li>
        <li><i class="fas fa-check iconPadding"></i>NAVIGATE THE KITCHEN, GROCERY STORE, AND RESTAURANTS</li>
        <li><i class="fas fa-check iconPadding"></i>COOK KETO MEALS & DINNER PARTIES LIKE A PRO!</li>
      </ul>
    </div>
    <br/>
</div>
</section>
<section class="parallax2"style="background-image:url('{{page.feature-image_path}}');">
  <div class="textCenter backgroundBox2">
    <h3>ONCE YOU GET YOUR MINDSET AND YOUR BODY ON THE SAME DELIGHTFUL TRACK, THERE IS NO STOPPING YOUR SUCCESS.</h3>
  </div>
</section>
<section class="grid padding">
<div class="col-12 textCenter padding">
  <h3>WHO IS MIND BODY KETO FOR?</h3>
  <p >The health benefits of eating a pleasurable anti-inflammatory diet while addressing your body’s hormonal and emotional responses with mindfulness practices are particularly strong for those women looking to improve their lives and break through weight and health barriers. It must also be said that Mind Body Keto is PERFECT for successful women who are ready to make the commitment to live their best, healthiest, most delicious life.
</p>
<h4>No special ingredients or crazy exercise plans needed.</h4>
</div>
  <h3 class="col-12 textCenter">If you are struggling with:</h3>
  <div class="col-3_xs-12">

  </div>
<div class="col-4_xs-12  borderRight listStyle">
  <ul>
    <li><i class="fas fa-check iconPadding"></i>Weight Loss/Fat Loss/Body </li>
    <li><i class="fas fa-check iconPadding"></i>Recomposition</li>
    <li><i class="fas fa-check iconPadding"></i>Fertility Issues</li>
    <li><i class="fas fa-check iconPadding"></i>Chronic Pain</li>
    <li><i class="fas fa-check iconPadding"></i>Lack of Concentration/ Brain Fog</li>
    <li><i class="fas fa-check iconPadding"></i>Digestive Issues</li>
    <li><i class="fas fa-check iconPadding"></i>Metabolic Syndrome</li>
  </ul>
</div>
<div class="col-4_xs-12 listStyle">
  <ul>
    <li><i class="fas fa-check iconPadding"></i>Fatigue/Exhaustion</li>
    <li><i class="fas fa-check iconPadding"></i>Autoimmune Conditions</li>
    <li><i class="fas fa-check iconPadding"></i>Pre-Diabetes/Type 2 Diabetes</li>
    <li><i class="fas fa-check iconPadding"></i>Sugar Addiction</li>
    <li><i class="fas fa-check iconPadding"></i>Food Addiction</li>
    <li><i class="fas fa-check iconPadding"></i>Systemic Inflammation</li>
    <li><i class="fas fa-check iconPadding"></i>Neurodegenerative Disorders</li>
  </ul>
</div>
<div class="col-2_xs-12">

</div>
  <h3 class="col-12 textCenter paddingTop">Or if you are tired of contending with:</h3>
<div class="col-4_xs-12">

</div>
<div class="col-4_xs-12 listStyle">
<ul>
  <li><i class="fas fa-check iconPadding"></i>Neverending attempts to “fix” yourself</li>
  <li><i class="fas fa-check iconPadding"></i>Self-Hate</li>
  <li><i class="fas fa-check iconPadding"></i>Unhappiness</li>
  <li><i class="fas fa-check iconPadding"></i>Dissatisfaction with your health</li>
  <li><i class="fas fa-check iconPadding"></i>Overwhelming frustration</li>
  <li><i class="fas fa-check iconPadding"></i>Poor Self-Image</li>
  <li><i class="fas fa-check iconPadding"></i>Lack of Self-Love</li>
  <li><i class="fas fa-check iconPadding"></i>Low Self-Esteem/Low Self-Worth</li>
</ul>
<div class="col-4_xs-12">

</div>
  <br>
  <div class="textCenter">
    <h3 class="paddingBottom">Then Mind Body Keto is for YOU.</h3>
    <button class="buttonPadding" type="button" name="button"><a class="buttonPadding"href="https://calendly.com/mindbodyketo/free-consultation">Schedule an Appointment</a></button>

    <br>

  </div>
</div>
</section>
<!--<section>
  <form action="your-server-side-code" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_g6do5S237ekq10r65BnxO6S0"
    data-amount="999"
    data-name="Mind Body Keto"
    data-description="Enter your card details to purchase."
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto"
    data-zip-code="true">
  </script>
</form>
</section>-->
<section class="textCenter">
  <div>
    <h2>Transformations</h2>
    <hr class="hrCenter">
    <img src="/images/julie-transformation.JPG" alt="">
  </div>
</section>
<section class="grid paddingTop">
<div class="col-6_xs-12 padding textRight">
    <h2 class="cursive">Meet Chef Nicole</h2>
    <p>I’m Chef Nicole Poirier, and like you, I have faced my own health and weight loss struggles in this life. I know what it feels like to wake up every day asking “WHY? Why can’t I take control of my body and my weight when I can kick butt at life in so many other ways?!!”</p>
    <br/>
    <p>The good news is, I DID figure it out, and this is what inspired me to record my experiences, research the reasons everything seemed to magically fall into place so I could explain it scientifically, and create a way (or two!) to share it with YOU. Nobody should have to experience a daily battle with self-acceptance or feeling GOOD. So let’s DO THIS! More about the how in The MBK Difference.</p>

    <a class="pinkA" href="/about">Learn More About Nicole</a>
  </div>
  <div class="col-6_xs-12 normalImage" style="background-image:url('/images/nicole-profile-pic.jpg')">

  </div>
</section>
<!--<section class="grid">

  {% for ebooks in page.ebooks %}

  <div class="col-4_sm-6_xs-12 textCenter">
    <h3>{{ ebooks.name }}</h3>
    <img src="{{ ebooks.feature-image_path }} " alt="">
    <p>{{ ebooks.description }}</p>
    <a class="pinkA" href="{{ ebooks.url }}">Buy Now</a>
  </div>

  {% endfor %}

</section>
<section class="grid">

  {% for courses in page.courses %}

  <div class="col-6_sm-6_xs-12 textCenter">
    <h3>{{ courses.name }}</h3>
    <img src="{{ courses.feature-image_path }} " alt="">
    <p>{{ courses.description }}</p>
    <a class="pinkA" href="{{ courses.url }}">Buy Now</a>
  </div>

  {% endfor %}

</section>-->
<section>
    <h2 class="textCenter">What's New</h2>
    <hr class="hrCenter">
    <div class="grid-middle-center">

       {% for post in site.posts limit:4 %}
          {% if post.categories contains 'blog' %}

       <div class="col-3_sm-6_xs-12 textCenter">
         <div class="backgroundBox">
           <img class="shortImage" src="{{ post.feature-image_path }} " alt="">
           <div class="centered">
             <h3 class="textCenter"><a href="{{ post.url }}">{{ post.title }}</a></h3>
             <a href="{{post.url}}" class="pinkA textCenter"> Read More</a>
           </div>
         </div>
       </div>

          {% endif %}
       {% endfor %}

     </div>


      <div class="paddingBottom textCenter col-12">
        <button type="button" name="button"><a class="buttonPadding" href="/blog">Read all Posts</a></button>
        <br/>
      </div>
      <div class="ml-form-embed"
      data-account="1217016:r2h2h7v8e2"
      data-form="991712:n4y1s8">
    </div>
</section>
