---
layout: default
feature-image_path: /images/temp-one.jpg
title: Shop | Mind Body Keto
banner-heading: Mind Body Keto Shop
subtitle: Your place for all courses, meditations, eBooks and more!
ebooks:
  - name: eBook 1
    feature-image_path: /images/temp-two.jpg
    description: Write something here for each eBook
    link: /shop
  - name: eBook 2
    feature-image_path: /images/temp-two.jpg
    description: Write something here for each eBook
    link: /shop
  - name: eBook 3
    feature-image_path: /images/temp-two.jpg
    description: Write something here for each eBook
    link: /shop
meditation:
  - name: Meditation 1
    feature-image_path: /images/temp-two.jpg
    description: Write something here for each eBook
    link: /shop
  - name: Meditation 1
    feature-image_path: /images/temp-two.jpg
    description: Write something here for each eBook
    link: /shop
  - name: Meditation 1
    feature-image_path: /images/temp-two.jpg
    description: Write something here for each eBook
    link: /shop
courses:
  - name: Course 1
    feature-image_path: /images/temp-two.jpg
    description: Write something here for each course
    link: /shop
  - name: Course 2
    feature-image_path: /images/temp-two.jpg
    description: Write something here for each course
    link: /shop
freebie:
  - name: Freebie 1
    description: Write something here for each Freebie
    link: /shop
  - name: Freebie 1
    description: Write something here for each Freebie
    link: /shop
  - name: Freebie 1
    description: Write something here for each Freebie
    link: /shop
---
<section class="parallax1"style="background-image:url('{{page.feature-image_path}}');">
  <div class="textCenter backgroundBox">
    <h1>{{ page.banner-heading }}</h1>
    <h3>{{ page.subtitle }}</h3>
    <h4> {{ page.subtitle2 }}</h4>
  </div>
</section>
<section class="grid textCenter">
  <h3 class="col-12 cursive">eBooks</h3>

  {% for ebooks in page.ebooks %}

  <div class="col-4_sm-6_xs-12 textCenter">
    <h3>{{ ebooks.name }}</h3>
    <img src="{{ ebooks.feature-image_path }} " alt="">
    <p>{{ ebooks.description }}</p>
    <a class="pinkA" href="{{ ebooks.url }}">Buy Now</a>
  </div>

  {% endfor %}

</section>
<section class="grid textCenter">
  <h3 class="col-12 cursive">Meditations</h3>

  {% for meditation in page.meditation %}

  <div class="col-4_sm-6_xs-12 textCenter">
    <h3>{{ meditation.name }}</h3>
    <img src="{{ meditation.feature-image_path }} " alt="">
    <p>{{ meditation.description }}</p>
    <a class="pinkA" href="{{ meditation.url }}">Buy Now</a>
  </div>

  {% endfor %}

</section>
<section class="grid textCenter">
  <h3 class="col-12 cursive">Courses</h3>

  {% for courses in page.courses %}

  <div class="col-6_sm-6_xs-12 textCenter">
    <h3>{{ courses.name }}</h3>
    <img src="{{ courses.feature-image_path }} " alt="">
    <p>{{ courses.description }}</p>
    <a class="pinkA" href="{{ courses.url }}">Buy Now</a>
  </div>

  {% endfor %}

</section>
<section class="grid textCenter">
  <h3 class="col-12 cursive">Freebies</h3>

  {% for freebie in page.freebie %}

  <div class="col-4_sm-6_xs-12 textCenter">
    <h3>{{ freebie.name }}</h3>
    <img src="{{ freebie.feature-image_path }} " alt="">
    <p>{{ freebie.description }}</p>
    <a class="pinkA" href="{{ freebie.url }}">Download</a>
  </div>

  {% endfor %}

</section>
