<footer class="footerStyle grid-middle-spaceBetween" style="background-color: #005791; color: white">
<div class="footerLinks textCenter col-12">
  <a href="/keto">About MBK</a>
  <i class="far fa-circle"></i>
  <a href="/contact">Work with me</a>
  <i class="far fa-circle"></i>
  <a href="/comingsoon">Recommended Resources</a>
  <i class="far fa-circle"></i>
  <a href="comingsoon">A Guide to Keto</a>
  <i class="far fa-circle"></i>
  <a href="/recipes">Recipes</a>
</div>
<div class="col-4_xs-12 padding textCenter">
  <h3>Interested in learning more about Keto?</h3>
  <button class="footerButton" type="button" name="button"><a class="footerButton"href="/blogs">Read the Keto Blog</a></button>

</div>
<div class="col-4_xs-12 textCenter padding">
  <div class="ml-form-embed"
  data-account="1217016:r2h2h7v8e2"
  data-form="991726:j9f7g1">
</div>
</div>
<div class="col-4_xs-12 padding textCenter">
  <h3 class="cursive">Follow Along</h3>
  <hr class="hrCenter">
  <a href="https://www.facebook.com/groups/mindbodyketo/"><i class="fab fa-facebook-square fa-2x iconPadding2"></i></a>
  <a href="http://instagram.com/mind_body_keto"><i class="fab fa-instagram fa-2x iconPadding2"></i></a>

</div>
</footer>



<div class="sub-footer">
  (c) 2018 Mind Body Keto | Website Designed & Built by Justyn Gourdin
</div>
