<header id="navigation" class="grid-spaceBetween-middle mainNav styledA">
  <div class="col-12">
    <div id="top-social">
      <a href="https://www.facebook.com/groups/mindbodyketo/"><i class="fab fa-facebook-square fa-2x icon"></i></a>
      <a href="http://instagram.com/mind_body_keto"><i class="fab fa-instagram fa-2x icon"></i></a>
      <a href="https://www.pinterest.com/4145ab8aac146ab8a6c05b08fe69ea/"><i class="fab fa-pinterest-p fa-2x icon"></i></a>
    </div>
    <div id="logo" class="col-3 logo">
      <h1><a href="/"> MIND | BODY | KETO </a></h1>
    </div>
  </div>
  <div id="mainNav" class="textCenter navbar">
    <ul class="menu col-12">
      <div class="dropdown">
        <button class="dropbtn"><li>About</li></button>
        <div class="dropdown-content">
          <a href="/about">Meet Chef Nicole</a>
          <a href="/keto">The MBK Difference</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn"><li>Work With Me </li></button>
        <div class="dropdown-content">
          <a href="/coaching">Customized Coaching</a>
          <a href="/comingsoon">6 Week MBK Transformation</a>
          <a href="#">Contact Form</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn"><li> Keto Resources </li></button>
        <div class="dropdown-content">
          <a href="/blog">Blog</a>
          <a href="/recipes">Recipes</a>
          <a href="/comingsoon">Keto 101</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn"><li> Products & Programs </li></button>
        <div class="dropdown-content">
          <a href="/shop">eBooks</a>
          <a href="/comingsoon">Meditations</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn"><li>Success</li></button>
        <div class="dropdown-content">
          <a href="/success">Testimonials</a>
        </div>
      </div>
  </div>
</header>

<header class="hamburger">
  <nav class="hamburger">
    <div class="hamburger-button">
      <span class="hamburger-top"></span>
      <span class="hamburger-middle"></span>
      <span class="hamburger-bottom"></span>
    </div>
    <div class="hamburger-menu">
      <ul>
        <li><a href="/index">Home</a></li>
        <li><a href="/about">Meet Chef Nicole</a></li>
        <li><a href="/keto">The MBK Difference</a></li>
        <li><a href="/coaching">Customized Coaching</a><li>
          <li><a href="/shop">Products & Programs</a><li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/recipes">Recipes</a></li>
            <li><a href="/contact">Work with me</a></li>
            <li><a href="/success">Testimonials</a></li>
          </ul>
        </div>
      </nav>
    </header>
