---
layout: default
title: Blog | Mind Body Keto
feature-image_path:
banner-heading: What's New
subtitle: Read the blog and learn what's new in the Keto World
---
<section class="parallax2"style="background-image:url('{{page.feature-image_path}}');">
  <div class="textCenter backgroundBox">
    <h1>{{ page.banner-heading }}</h1>
    <h2>{{ page.subtitle }}</h2>
    <h4> {{ page.subtitle2 }}</h4>
  </div>
</section>
<section class="paddingBottom">
<div class="grid-middle-center paddingBottom">

  {% for post in site.posts %}
  {% if post.categories contains 'blog' %}

  <div class="col-4_sm-6_xs-12 textCenter">
    <div class="backgroundBox">
      <a href="{{post.url}}"><img class="shortImage" src="{{ post.feature-image_path }} " alt=""></a>

      <div class="centered">
        <h3 class="textCenter styledA"><a href="{{ post.url }}">{{ post.title }}</a></h3>
      </div>
    </div>
  </div>

  {% endif %}
  {% endfor %}

</div>
</section>
<section>
  <!-- MailerLite Universal -->
  <script>
  (function(m,a,i,l,e,r){ m['MailerLiteObject']=e;function f(){
    var c={ a:arguments,q:[]};var r=this.push(c);return "number"!=typeof r?r:f.bind(c.q);}
    f.q=f.q||[];m[e]=m[e]||f.bind(f.q);m[e].q=m[e].q||f.q;r=a.createElement(i);
    var _=a.getElementsByTagName(i)[0];r.async=1;r.src=l+'?v'+(~~(new Date().getTime()/1000000));
    _.parentNode.insertBefore(r,_);})(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');

    var ml_account = ml('accounts', '1217016', 'r2h2h7v8e2', 'load');
    </script>
    <!-- End MailerLite Universal -->

</section>
