* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    overflow-x: hidden;
    font-size: 15px;
    color: rgb(60,60,60);
    font-family: 'Open Sans', sans-serif;
    z-index: 1;
}
body{
    background-color: #eeeeee0d;
}
img {
    max-width : 100%;
    height: auto;
}
p{
    font-size: 1.1rem;
    line-height: 1.6
}
h1, h2, h3, h4, h5, p, li {
margin-bottom: 0.5em
}
h1, h2, h3, h4 {
    line-height: 1.3
}
h1{
  font-size: 2.3rem;
  color: #ff715b;
  font-weight: 400;
}
h2{
  font-size: 2rem;
  color: #005791;
  font-weight: 400;
}
h3{
  font-size: 1.7rem;
  font-weight: 400;
  color: #ff715b;
}
h4{
  font-size: 2.5rem;
  font-family: 'Sacramento', cursive;
  font-weight: 400;
}
h5{
  font-size: 1.2rem;
  font-weight: 600;
}

section{
    padding: 2%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{
  text-decoration: none;
  color: black;
  display: inline-block;
  font-size: 1rem;
  font-weight: lighter;
  vertical-align: middle;
}
/*
      ***HELPERS***
*/
.textCenter{
  text-align: center;
}
.textRight{
  text-align: right;
}
.textLeft{
  text-align: left;
}
.cursive{
  font-family: 'Sacramento', cursive;
  font-size: 3rem;
  font-weight: 400;
  line-height: .4;
}
.cursiveBold{
  font-weight: 600;
  font-family: 'Sacramento', cursive;
  font-size: 3rem;
}
.fullHeight{
  height: 80%;
}
.padding{
  padding: 5%;
}
.paddingTop{
  padding-top: 3%;
}
.paddingBottom{
  padding-bottom: 3%;
}
.centerButton{
  position: relative;
  left: 41%;
}
.shortImage{
  min-height: 45vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.normalImage{
  min-height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.pinkA{
  color: #ff715b;
  font-size: 1.3rem;
}
.listStyle{
  font-size: 1.2rem;
  font-weight: 600;
}
.borderRight{
  border-right: black solid 1px;
}
.iconPadding{
  padding: 5px;
  color: #005791;
}
.iconPadding2{
  padding: 5px;
  color: white;
}
.darkText{
  color: black;
}
hr {
    border: none;
    border-bottom: 2px solid #ff715b;
    width: 3.5rem;
    margin: 1rem 0;
  }
  hr.hrCenter {
    margin-left: auto;
    margin-right: auto;
  }
/*
      ***BUTTON STYLES***
*/
button{
  background-color: #ff715b;
  border: none;
  color: white;
  border-radius: 3px;
  padding: 1%;
  font-size: 1.3rem;
  font-weight: 400;
}
.footerButton{
  background-color: #ff715b;
  border: none;
  color: white;
  border-radius: 3px;
  padding: 1%;
  font-size: 1.4rem;
  font-weight: 400;
}
.buttonPadding{
  padding: 1%;
  color: white;
  font-size: 1.2rem;
}
/*
    ****DROPDOWN***
*/
.dropbtn {
    background-color: white;
    color: black;
    padding: 14px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 99999999;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
  background-color: white;
  z-index: 9999999;
}

.dropdown:hover .dropdown-content {
  background-color: white;
  display: block;
  z-index: 999999;
}

.dropdown:hover .dropbtn {
  background-color: white;
  z-index: 9999999;
}
/*
      ***HEADER***
*/
#navigation{
  height: 115px;
  background-color: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#navigation .navbar ul li {
  overflow: hidden;
  background-color: white;
  z-index: 999999999;
  max-width: 1049px;
  width: 100%;
  height: 100%;
}

/* Navbar links */
#navigation .navbar ul li, .logo a {
  color: #005791;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  bottom: -15px;
}
#navigation .logo a {
  font-size: 25px;
  bottom: 0;
  padding-left: 15px;
}
#navigation .menu{
  float: right;
  height: 100%;
  display: flex;
  align-items: center;
}
.menu ul li{
  float: left;
  padding-left: 13px;
  padding-right: 13px;
}

/*
      ***HOME***
*/
.backgroundBox{
  margin: 2%;
  padding: 1.2%;
  background-color: rgba(255, 255, 255, 0.75);
  text-align: center;
}
.backgroundBox2{
  margin: 2%;
  padding: 2%;
  background-color: rgba(255, 255, 255, 0.75);
  text-align: center;
}
.parallax1 {

    /* Full height */
    height: 75vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax2 {

    /* Full height */
    height: 40vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
}
/*
      ***COACHING***
*/
/*
      ***ABOUT NICOLE***
*/

/*
      ***BLOG***
*/
.blog-image{
  height: 50%;
  width: 50%;
  text-align: center;
}
/*
      ***SIDEBAR***
*/
/*
      ***FOOTER***
*/
.footerStyle{
  background-color: #005791;
  color: white;
}
.footerLinks a{
  padding: 1% 4%;
  color: white;
  font-size: 1.2rem;
}
.sub-footer {
  background-color: #35353f;
  color: rgb(220,220,220);
  padding: 0.5%;
  text-align: center;
  font-size: 0.8rem;
}
.footerButton{
  padding: 5px;
}
/*
      ***FORM***
*/
/*
  FORM
  */
  .feedback-input {
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 12px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #ff715b;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
  }

  .feedback-input:focus { border:2px solid #00b8c9; }

  textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;

  }

  [type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background:#ff715b;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:400;
  }
  [type="submit"]:hover { background:#00b8c9; }
/*
      ***HAMBURGER MENU***
*/
.hamburger-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color:rgb(240, 232, 220);
    padding:3% 3% 10% 3%;
    width: 465px;
    text-align:center;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    z-index: 99999999;
}
.hamburger-menu a {
  text-decoration: none;
  font-size: 25px;
  font-weight: 300;
  color:black;
  font-family: 'Lato', sans-serif;
  display:block;
  padding:8px 15px;
  white-space:nowrap;
}
.hamburger-menu a:hover{
  color:black;
}
a.smallMenu {
  font-size: 25px;
  font-weight: lighter;
}
.hamburger-menu li{list-style:none}
.hamburger-button {
  position:fixed;
  top: 2vh;
  right: 2vh;
  z-index: 9999999999;
  padding: 12px;
}
.hamburger-button span{
  width: 50px;
  border: 2px solid black;
  background-color: black;
  display: block;
  border-radius: 22px;
  transition: 2s;
}
.hamburger-top, .hamburger-bottom{
  position: absolute;
}
.hamburger-top{
  top: 02px;
}
.hamburger-bottom{
  bottom: 02.5px;
}
.active .hamburger-top{
   transform: rotateZ(45deg);
  top:12px;
  border-color:black;
}
.active .hamburger-bottom{
   transform: rotateZ(-45deg);
  bottom:12px;
  border-color:black;
}
.active .hamburger-middle{
  opacity:0;
}
/*
      ***MOBILE STYLES***
*/
@media all and (min-width:640px){
  .hamburger{
    display:none;
  }
}
@media screen and (max-width: 48em){
  body{
    overflow: hidden;
  }
  .borderRight{
    border-right: none;
    border: none;
    border-bottom: 2px solid #ff715b;
    width: 3.5rem;
    margin: 1rem 0;
}
.textRight{
  text-align: center;
}
.footerLinks{
  display: none !important;
}
@media screen and (max-width: 48em){
  #mainNav{
    display: none;
  }
  #navigation{
    height: 60px;
  }
  #logo{
    display: none;
  }
  .menu{
    display: none;
  }
}
